<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee"
         xmlns:xsi="http://w3.org"
         xsi:schemaLocation="https://jakarta.ee/web-app_6_0.xsd" 
           version="6.0">
  
  
 	<context-param>
 		<param-name>college</param-name>
 		<param-value>ABC Engineering College</param-value>
 	</context-param> 
 	
 	<context-param>
 		<param-name>city</param-name>
 		<param-value>Trichy</param-value>
 	</context-param>  
 	
 	<servlet>
 	   <servlet-name>Demo-WebServlet</servlet-name>
        <servlet-class>DemoServlet</servlet-class>
        
 	</servlet> 
 	
 	<servlet-mapping>
        <servlet-name>Demo-WebServlet</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping> 
    
    <servlet>
 	   <servlet-name>FormServlet</servlet-name>
        <servlet-class>FormServlet</servlet-class>
 	</servlet>  
 	
 	<servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>  
    
    <!-- session management- cookies -->
    <servlet>
 	   <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sessionMgmt.cookie.LoginServlet</servlet-class>
 	</servlet>  
 	
 	<servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>  
    <servlet>
 	   <servlet-name>HomeServlet</servlet-name>
        <servlet-class>sessionMgmt.cookie.HomeServlet</servlet-class>
 	</servlet>  
 	
 	<servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>  
    <servlet>
 	   <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sessionMgmt.cookie.LogoutServlet</servlet-class>
 	</servlet>  
 	
 	<servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>   
    
    <!-- session management- Hidden Fields -->
    <servlet>
 	   <servlet-name>HLoginServlet</servlet-name>
        <servlet-class>sessionMgmt.HiddenFields.HLoginServlet</servlet-class>
 	</servlet>  
 	
 	<servlet-mapping>
        <servlet-name>HLoginServlet</servlet-name>
        <url-pattern>/hlogin</url-pattern>
    </servlet-mapping>  
    <servlet>
 	   <servlet-name>HHomeServlet</servlet-name>
        <servlet-class>sessionMgmt.HiddenFields.HHomeServlet</servlet-class>
 	</servlet>  
 	
 	<servlet-mapping>
        <servlet-name>HHomeServlet</servlet-name>
        <url-pattern>/hhome</url-pattern>
    </servlet-mapping>  
   
   <!-- session management- url rewriting -->
    <servlet>
 	   <servlet-name>ULoginServlet</servlet-name>
        <servlet-class>sessionMgmt.urlRewriting.ULoginServlet</servlet-class>
 	</servlet>  
    <servlet-mapping>
        <servlet-name>ULoginServlet</servlet-name>
        <url-pattern>/ulogin</url-pattern>
    </servlet-mapping>  
    <servlet>
 	   <servlet-name>UHomeServlet</servlet-name>
        <servlet-class>sessionMgmt.urlRewriting.UHomeServlet</servlet-class>
 	</servlet>  
 	
 	<servlet-mapping>
        <servlet-name>UHomeServlet</servlet-name>
        <url-pattern>/uhome</url-pattern>
    </servlet-mapping> 
</web-app>           